#* @implicitly included *#
#* @vtlvariable name="theClass" type="com.intellij.psi.PsiClass" *#
#* @vtlvariable name="variableName" type="com.intellij.psi.PsiClass" *#

#foreach($method in $theClass.methods)
    #if($method.name.startsWith("set"))
        #set($defaultValue=0)
        #if($method.hasParameters())
            #set($parameterType=${method.parameterList.parameters[0].getType().canonicalText})
            #if($parameterType.equals("java.lang.Float"))
                #set($defaultValue="0.0F")
            #elseif($parameterType.equals("java.lang.Double"))
                #set($defaultValue="0.0D")
            #elseif($parameterType.equals("byte"))
                #set($defaultValue="(byte)0")
            #elseif($parameterType.equals("java.util.Date"))
                #set($defaultValue="new Date()")
            #elseif($parameterType.equals("double"))
                #set($defaultValue="0.0D")
            #elseif($parameterType.equals("java.time.LocalDateTime"))
                #set($defaultValue="LocalDateTime.now()")
            #elseif($parameterType.equals("float"))
                #set($defaultValue="0.0F")
            #elseif($parameterType.equals("java.lang.Integer"))
                #set($defaultValue="0")
            #elseif($parameterType.equals("int"))
                #set($defaultValue="0")
            #elseif($parameterType.equals("long"))
                #set($defaultValue="0L")
            #elseif($parameterType.equals("java.math.BigDecimal"))
                #set($defaultValue="new BigDecimal(""0"")")
            #elseif($parameterType.equals("boolean"))
                #set($defaultValue="false")
            #elseif($parameterType.equals("java.lang.Character"))
                #set($defaultValue="''")
            #elseif($parameterType.equals("java.lang.Long"))
                #set($defaultValue="0L")
            #elseif($parameterType.equals("java.lang.Short"))
                #set($defaultValue="(short)0")
            #elseif($parameterType.equals("java.time.LocalDate"))
                #set($defaultValue="LocalDate.now()")
            #elseif($parameterType.equals("char"))
                #set($defaultValue="''")
            #elseif($parameterType.equals("java.lang.Boolean"))
                #set($defaultValue="false")
            #elseif($parameterType.equals("short"))
                #set($defaultValue="(short)0")
            #elseif($parameterType.equals("java.lang.String"))
                #set($defaultValue="""""")
            #elseif($parameterType.equals("java.lang.Byte"))
                #set($defaultValue="(byte)0")
            #else
                #set($defaultValue="null")
            #end
            $variableName.${method.name}(${defaultValue});
        #end
    #end
#end
